@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
appearance: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  cursor: ew-resize;
  background: #000;
  border-radius: 50%;
  pointer-events: auto;
}

/* .bg-gradient-custom {
  background: ;
} */

@keyframes slide-up {
    0% {
      transform: translateY(20%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
@keyframes slide-down {
    100% {
      transform: translateY(20%);
      opacity: 0;
    }
    0% {
      opacity: 1;
    }
  }


  @keyframes zoom-in {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  @keyframes bounce {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes bounce-right {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .bounce {
    animation: bounce 0.6s infinite ease-in-out;
  }

  .animate-slide-down {
    animation-name: slide-down; /* Sử dụng animation slide-up */
    animation-duration: 0.3s; /* Thời gian chạy animation */
    animation-timing-function: ease-in-out; /* Hình dạng animation */
    animation-fill-mode: forwards; /* Giữ lại trạng thái cuối cùng của animation */
  }
  
  
  .animate-slide-up {
    animation: slide-up 0.5s;
    animation-duration: 0.6s;
    /* animation-timing-function: ease-in-out; */
  }
  
  .slider > div {
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: unset;
    border-bottom-left-radius: unset;
  }

  .badge-new {
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%);
  }

  .arrowSlide {
    top: 40%;
    padding: 0 20px;
  }

  .arrowSlide:hover {
    animation: bounce 0.6s infinite ease-in-out;
  }

  .arrowRight:hover {
    animation: bounce-right 0.6s infinite ease-in-out;
  }




.keen-slider [class^="number-slide"],
.keen-slider [class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  /* max-height: 100vh; */
}

.keen-slider__image img:hover {
  scale: 2;
}


.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px solid gray;
}


input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }

  .accordion-content {
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }
  
  .open {
    max-height: 500px;
  }